.user-info {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background: #7b1fa2;

  &__item {
    margin-bottom: 40px;
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item-wrapper &__item {
    margin-bottom: 0;
  }

  &__buttons-wrapper {
    display: flex;
  }

  ::ng-deep div.mat-mdc-form-field-error-wrapper {
    position: static;
  }
}
