<mat-card *ngIf="(profileData$ | async)?.uid" class="user-info">
  <button
    class="user-info__logout-button"
    color="warn"
    mat-stroked-button
    (click)="logout()"
    [disabled]="logoutLoading$ | async">
    Logout
  </button>
  <p class="mat-headline-6 user-info__item">
    <i class="user-info__item__title">ID: </i>
    {{ (profileData$ | async)?.uid }}
  </p>
  <p class="mat-headline-6 user-info__item">
    <i class="user-info__item__title">Email: </i>
    {{ (profileData$ | async)?.email }}
  </p>
  <p class="mat-headline-6 user-info__item">
    <i class="user-info__item__title"> Creation time: </i>
    {{ (profileData$ | async)?.createdAt | date: 'medium' }}
  </p>

  <!-- Editable field with ngIf condition -->
  <ng-container *ngIf="!isEditing; else editingField">
    <div class="user-info__item-wrapper">
      <p class="mat-headline-6 user-info__item">
        <i class="user-info__item__title">User name: </i>
        {{ (profileData$ | async)?.name }}
      </p>
      <button
        *ngIf="!isEditing"
        (click)="startEditing()"
        color="accent"
        mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </ng-container>

  <!-- Editable field template -->
  <ng-template #editingField>
    <form [formGroup]="profileForm">
      <mat-form-field color="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="profileForm.get('name')?.hasError('required')">
          Please enter a name
        </mat-error>
        <mat-error *ngIf="profileForm.get('name')?.hasError('pattern')">
          Name should have only letters or spaces
        </mat-error>
        <mat-error *ngIf="profileForm.get('name')?.hasError('maxlength')">
          Name should be less than 40 characters
        </mat-error>
      </mat-form-field>
    </form>
  </ng-template>

  <div class="user-info__buttons-wrapper">
    <button
      #saveButton
      *ngIf="isEditing"
      (click)="saveChanges()"
      [disabled]="profileForm.invalid || (loading$ | async)"
      mat-icon-button>
      <mat-icon [color]="saveButton.disabled ? 'basic' : 'accent'">
        check_circle
      </mat-icon>
    </button>
    <button
      #cancelButton
      *ngIf="isEditing"
      (click)="cancelEditing()"
      [disabled]="loading$ | async"
      mat-icon-button>
      <mat-icon [color]="cancelButton.disabled ? 'basic' : 'warn'">
        cancel
      </mat-icon>
    </button>
  </div>
</mat-card>
