.user-info {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  background: #7b1fa2;

  &__logout-button {
    margin-left: auto;
  }

  &__item {
    margin-bottom: 40px;

    &__title {
      color: rgba(255, 255, 255, 0.7)
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item-wrapper &__item {
    margin-bottom: 0;
  }

  &__buttons-wrapper {
    display: flex;
  }

  ::ng-deep div.mat-mdc-form-field-error-wrapper {
    position: static;
  }
}
