<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Please enter an email
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Incorrect email
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      matInput
      formControlName="password" />
    <button
      class="icon-hide"
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('password')?.hasError('required')">
      Please enter a password
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="(onSubmit)"
    [disabled]="
      form.invalid ||
      (loading$ | async) ||
      ((error$ | async)?.type === 'NotFoundException' &&
        form.get('email')?.value === submittedEmailValue &&
        form.get('password')?.value === submittedPasswordValue)
    ">
    Sign In
  </button>
  <a
    [routerLink]="['/signup']"
    class="link-to-registration"
    mat-button
    color="accent"
    >Don't have account? Sign Up >></a
  >
</form>
