<div class="modal">
  <h1 class="modal__title">Create new group</h1>
  <form [formGroup]="form">
    <mat-form-field color="accent">
      <mat-label>Group name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Please enter a name
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">
        Name should have only letters, digits or spaces
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
        Name should be less than 30 characters
      </mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancelClick()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="onSubmitClick()"
      [disabled]="form.invalid || (loading$ | async)">
      Submit
    </button>
  </div>
</div>
