<div class="group-list">
  <div class="group-list__buttons">
    <div class="group-list__countdown-wrapper">
      <p class="countdown" *ngIf="countdown$ | async as countdownValue">
        {{
          countdownValue > 0 && countdownValue !== 60 ? countdownValue : null
        }}
      </p>
    </div>
    <button
      class="group-list__button"
      color="primary"
      mat-raised-button
      (click)="update()"
      [disabled]="isButtonDisabled(loading$ | async, countdown$ | async)">
      Update
    </button>
    <button
      class="group-list__button"
      mat-raised-button
      color="accent"
      (click)="onCreateButtonClick()">
      Create
    </button>
  </div>
  <mat-nav-list>
    <p class="group-list__message" *ngIf="(list$ | async)?.length === 0">
      There is no groups yet
    </p>
    <div class="group-list__item" *ngFor="let item of list$ | async">
      <a mat-list-item [routerLink]="['/group/', item?.id]">
        {{ item?.name }}
      </a>
      <button
        *ngIf="isCurrentUser(item.createdBy)"
        mat-icon-button
        color="accent">
        <mat-icon color="warn"> cancel </mat-icon>
      </button>
    </div>
  </mat-nav-list>
</div>
