.group-list {
  &__title {
    padding-top: 20px;
    text-align: center;
    color: white;
  }

  &__buttons {
    padding: 10px;
    display: flex;
  }

  &__message {
    padding: 10px;
    color: white;
  }

  &__button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__countdown-wrapper {
    width: 30px;
    height: 30px;
  }

  &__item {
    display: flex;
  }
}

.countdown {
  color: #69f0ae;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-self: flex-start;
}
