.group-dialog {
  &__title {
    padding-top: 20px;
    text-align: center;
    color: white;
  }

  &__buttons {
    display: flex;
    padding: 10px;
  }

  &__button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__countdown-wrapper {
    width: 30px;
    height: 30px;
  }
}

.countdown {
  color: #69f0ae;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-self: flex-start;
}

.messages-list {
  &__message {
    color: white;
  }

  &__item {
    margin-bottom: 20px;
    word-wrap: break-word;
    color: white;
    width: 50%;
    margin-left: auto;
  }

  &__item.not-user {
    margin-left: 0;
    margin-right: auto;
  }
}
