<div class="group-dialog">
  <h2 class="mat-headline-5 group-dialog__title">
    {{ (group$ | async)?.name }}
  </h2>
  <div class="group-dialog__buttons">
    <div class="group-dialog__countdown-wrapper">
      <p class="countdown" *ngIf="countdown$ | async as countdownValue">
        {{
          countdownValue > 0 && countdownValue !== 60 ? countdownValue : null
        }}
      </p>
    </div>
    <button
      (click)="update()"
      [disabled]="isButtonDisabled(loading$ | async, countdown$ | async)"
      class="group-dialog__button"
      color="primary"
      mat-raised-button>
      Update
    </button>
    <button
      (click)="onDeleteButtonClick()"
      *ngIf="isCurrentUser$ | async"
      class="group-dialog__button"
      color="warn"
      mat-raised-button>
      Delete
    </button>
  </div>
</div>
